<!--<h1>Pages#home</h1>-->
<!--<p>Find me in app/views/pages/home.html.erb</p>-->
<div class='page-header'>
  <h1><%= @hello %></h1>
</div>

<div class='hero-unit'>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    In et neque at justo congue imperdiet. In faucibus ornare mi nec ultricies.
    Curabitur eget dolor ex. Etiam tempus orci augue, sed ultricies nunc
    commodo semper. Sed vel odio faucibus risus mollis ornare.
    Pellentesque accumsan feugiat magna, sit amet elementum ex ultrices eget.
    Vestibulum convallis augue laoreet egestas varius. Donec dapibus lacinia
    metus, sit amet tincidunt purus pellentesque vitae. Maecenas luctus turpis
    ac eros condimentum, vitae tristique augue accumsan. Nulla efficitur elit
    vitae nisi tincidunt, ac consectetur metus pretium. Nunc cursus ultrices
    sem, vel cursus turpis feugiat porta. Vivamus aliquam sed mi non tincidunt.
    Maecenas sodales eget quam non dictum. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. In elementum dignissim
    lectus, ac rutrum nisl dapibus in. </p>
  <%= link_to 'Visit course page to learn more...', 'https://github.com/micrum/course',
              target: '_blank', class: 'btn btn-primary btn-lg' %>
</div>
