// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.container {
  background: #9E9E9E;
}*/

/*.navbar-inverse {
  background-color: #555555;
  border-color: #090909;
}

.navbar {
  border-radius: 0;
}*/



